<h2 mat-dialog-title>Connexion</h2>

<mat-dialog-content>
  <p *ngIf="error">Pseudo ou Mot de passe invalide !</p>
  <form novalidate #f="ngForm">
    <p>
      <mat-form-field>
        <input matInput placeholder="Pseudo" ngModel minlength="2" #username=ngModel required name="username"/>
        <mat-error *ngIf="username?.dirty && username?.hasError('required')">
          Le pseudo est <strong>requis.</strong>
        </mat-error>
        <mat-error *ngIf="username?.dirty && username?.hasError('minlength')">
          Le pseudo doit être long d'au moins <strong>2 charactères.</strong>
        </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <input [type]="hide?'password':'text'" matInput placeholder="Mot de passe" ngModel #password=ngModel required name="password"/>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="password?.dirty && password?.hasError('required')">
          Le mot de passe est <strong>requis !</strong>
        </mat-error>
      </mat-form-field>
    </p>
  </form>
</mat-dialog-content>


<mat-dialog-actions align="end">
  <button mat-button type="button" (click)="redirectBack()">Annuler</button>
  <button mat-button type="submit" (click)="login(f.value)" [disabled]="f.invalid">Connexion</button>
</mat-dialog-actions>
