<mat-toolbar class="extend-toolbar">
  <span>
    <a [routerLink]="['/home']">TadaCard</a>
  </span>

  <span class="flex"></span>

  <span *ngIf="user.username !== undefined">
    <a [routerLink]="['/mycards']" color="secondary">Mes Cartes</a>
  </span>

  <span *ngIf="user.username !== undefined">
    <a [routerLink]="['/trades']" color="secondary">Echange</a>
  </span>

  <span>
    <a color="secondary" [routerLink]="['/search']">Recherche d'utilisateurs</a>
  </span>

  <span *ngIf="user.username == undefined">
    <a color="secondary" [routerLink]="['/login']">Connexion</a>
  </span>

  <span *ngIf="user.username == undefined">
    <a color="secondary" [routerLink]="['/register']">Inscription</a>
  </span>

  <span *ngIf="user.username !== undefined">
    <a [routerLink]="['/profile']" color="secondary">Compte</a>
  </span>

  <span *ngIf="user.username !== undefined">
    <a (click)="notifications()" color="secondary">Notifications</a>
  </span>

  <span *ngIf="user.username !== undefined">
    <a color="secondary" (click)="logout()">Déconnexion</a>
  </span>

</mat-toolbar>
