<mat-toolbar class="extend-toolbar">
  <span>
    <a  [routerLink]="['/home']">TadaCard</a>
  </span>

  <span class="flex"></span>

  <span *ngIf="user.username !== undefined">
    <a color="secondary" [routerLink]="['/roll']">Cartes gratuites</a>
  </span>

  <span *ngIf="user.username !== undefined">
    <a color="secondary" [routerLink]="['/cards']">Mes Cartes</a>
  </span>

  <span>
    <a color="secondary" [routerLink]="['/search']">Recherche d'utilisateurs</a>
  </span>

  <span *ngIf="user.username == undefined">
    <a color="secondary" [routerLink]="['/login']">Connexion</a>
  </span>

  <span *ngIf="user.username == undefined">
    <a color="secondary" [routerLink]="['/register']">Inscription</a>
  </span>

  <span *ngIf="user.username !== undefined">
    <a color="secondary" [routerLink]="['/user/'+user.username+'/profile']">Compte</a>
  </span>


  <span *ngIf="user.username !== undefined">
    <a color="secondary" (click)="logout()">Déconnexion</a>
  </span>

</mat-toolbar>
