<app-navbar></app-navbar>


<section align="center">
  <mat-card class="user-card">

    <img src="{{ user.photo }}">
    <mat-card-content>
      <p>
        Pseudo: {{user.username}}
      </p>
    </mat-card-content>
    <mat-card-content>
      <p>
        Prénom: {{user.firstname}}
      </p>
    </mat-card-content>
  </mat-card>
</section>
<br>
<br>
<section align="center">
  <h1>Liste des cartes de l'utilisateur</h1>
</section>


<section align="center">
  <app-cards-list [cardOwner]=isMyAccount() [collections]="collections"></app-cards-list>
</section>


