<div *ngIf="collection.amount!=0" align="center">
  <mat-card *ngIf="!tradable" class="user-card">
    <section>
      <ng-container *ngFor="let i of [].constructor(card.level)" style="font-size: 100px">⭐</ng-container>
    </section>
    <img class="img-fit" src="{{ card.image }}" width="288">

    <br>
    <mat-card-title>
      {{card.name}}
    </mat-card-title>
    <br>
    <mat-card-content>
      {{card.description}}
    </mat-card-content>

    <mat-card-content *ngIf="collection.amount>1">
      <b>x{{collection.amount}}</b><span *ngIf="collection.waiting>0"> | {{collection.waiting}} exemplaire(s) en attente d'échange</span>
    </mat-card-content>

    <button (click)="buildTradeDialog()" *ngIf="!isCardOwner && !tradingOperation && suffisentAmount  && connected()" mat-mini-fab>
      <mat-icon>swap_horiz</mat-icon>
    </button>
  </mat-card>
  <mat-card (click)="tradeOffer(card)" *ngIf="tradable" class="user-card">
    <section>
      <ng-container *ngFor="let i of [].constructor(card.level)">⭐</ng-container>
    </section>
    <img class="img-fit" height="162" src="{{ card.image }}" width="288">

    <br>
    <mat-card-title>
      {{card.name}}
    </mat-card-title>
    <br>
    <mat-card-content>
      {{card.description}}
    </mat-card-content>

    <mat-card-content *ngIf="collection.amount>1">
      <b>x{{collection.amount}}</b><span *ngIf="collection.waiting>0"> | {{collection.waiting}} exemplaire(s) en attente d'échange</span>
    </mat-card-content>

    <button (click)="buildTradeDialog()" *ngIf="!isCardOwner && !tradingOperation && suffisentAmount && connected()" mat-mini-fab>
      <mat-icon>swap_horiz</mat-icon>
    </button>
  </mat-card>
</div>
