<div *ngIf="collection.amount!=0" align="center">
  <mat-card *ngIf="!tradable" class="card">
    <section>
      <ng-container *ngFor="let i of [].constructor(card.level)">⭐</ng-container>
    </section>
    <img class="img" src="{{ card.image }}">

    <br>
    <mat-card-title>
      {{card.name}}
    </mat-card-title>
    <br>
    <mat-card-content>
      <p class="break-words-pls">
        {{card.description}}
      </p>
    </mat-card-content>

    <mat-card-actions *ngIf="collection.amount>0">
      <b>x{{collection.amount}}</b><span *ngIf="collection.waiting>0"> | <b>x{{collection.waiting}}</b> en attente d'échange</span>

    </mat-card-actions>
    <button (click)="buildTradeDialog()" *ngIf="!isCardOwner && !tradingOperation && suffisentAmount  && connected()" mat-mini-fab>
      <mat-icon>swap_horiz</mat-icon>
    </button>
  </mat-card>
  <mat-card (click)="tradeOffer(card)" *ngIf="tradable" class="card">
    <section>
      <ng-container *ngFor="let i of [].constructor(card.level)">⭐</ng-container>
    </section>
    <img class="img" src="{{ card.image }}">

    <br>
    <mat-card-title>
      {{card.name}}
    </mat-card-title>
    <br>
    <mat-card-content>
      <p class="break-words-pls">
        {{card.description}}
      </p>
    </mat-card-content>

    <mat-card-actions *ngIf="collection.amount>0">
      <b>x{{collection.amount}}</b><span *ngIf="collection.waiting>0"> | <b>x{{collection.waiting}}</b> en attente d'échange</span>

    </mat-card-actions>
    <button (click)="buildTradeDialog()" *ngIf="!isCardOwner && !tradingOperation && suffisentAmount && connected()" mat-mini-fab>
      <mat-icon>swap_horiz</mat-icon>
    </button>
  </mat-card>
</div>
