<mat-card>
  <mat-card-content *ngIf="tradeOwner">
    Vous proposez à
    <app-user-minimized (click)="openProfile(secondUser)" [user]="secondUser"></app-user-minimized>
    votre carte
    <app-card [cardOwner]="userWaiting" [card]="card" [tradingOperation]="true"></app-card>
    contre sa carte
    <app-card [cardOwner]="secondUser" [card]="cardWanted" [tradingOperation]="true"></app-card>
  </mat-card-content>

  <mat-card-content *ngIf="!tradeOwner">
    {{trade.creationTime | date:'M/d, h:mm a' }}
    <app-user-minimized (click)="openProfile(userWaiting)" [user]="userWaiting"></app-user-minimized>
    vous propose
    <app-card [cardOwner]="userWaiting" [card]="card" [tradingOperation]="true"></app-card>
    contre la carte
    <app-card [cardOwner]="secondUser" [card]="cardWanted" [tradingOperation]="true"></app-card>

    <mat-dialog-actions>
      <button (click)="refuse()" mat-button type="button">Refuser</button>
      <button (click)="accept()" mat-button type="button">Accepter</button>
    </mat-dialog-actions>
  </mat-card-content>
</mat-card>
