<h2 mat-dialog-title>Changement de mot de passe !</h2>

<mat-dialog-content>
  <p *ngIf="error">Mot de passe invalide !</p>

  <h5>Poue changer votre mot de passe, entrez votre mot de passe actuel:</h5>
  <form novalidate #f="ngForm">
    <p>
      <mat-form-field>
        <input [type]="hide?'password':'text'" matInput placeholder="Mot de passe" ngModel #password=ngModel required name="password"/>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="password?.dirty && password?.hasError('required')">
          Le mot de passe est <strong>requis !</strong>
        </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <input [type]="hide?'password':'text'" matInput placeholder="Nouveau mot de passe" ngModel #newPassword=ngModel required name="newPassword"/>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="newPassword?.dirty && newPassword?.hasError('required')">
          Le nouveau mot de passe est <strong>requis !</strong>
        </mat-error>
      </mat-form-field>
    </p>
  </form>
</mat-dialog-content>


<mat-dialog-actions align="end">
  <button mat-button type="button" (click)="redirectBack()">Annuler</button>
  <button mat-button type="submit" (click)="auth(f.value)" [disabled]="f.invalid">Valider</button>
</mat-dialog-actions>
