<h2 mat-dialog-title>Changement de mot de passe !</h2>

<mat-dialog-content>

  <form [formGroup]="updatePasswordForm" novalidate>
    <table cellspacing="0" class="full-width">
      <tr>
        <td class="td-form" style="height:110px; vertical-align: top ">
          <mat-form-field
            [class.mgb15]="updatePasswordForm.get('password')?.dirty && updatePasswordForm.get('password')?.invalid"
            class="full-width">
            <input [type]="hide?'password':'text'" formControlName="password" matInput minlength="8" name="password"
                   placeholder="Mot de passe"
                   required/>
            <button (click)="hide = !hide" [attr.aria-label]="'hide password'" [attr.aria-pressed]="hide"
                    mat-icon-button matSuffix>
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>


            <mat-error
              *ngIf="updatePasswordForm.get('password')?.dirty && updatePasswordForm.get('password')?.hasError('required')">
              Le champ mot de passe est <strong>requis.</strong>
            </mat-error>
            <mat-error
              *ngIf="updatePasswordForm.get('password')?.dirty && updatePasswordForm.get('password')?.hasError('minlength')">
              Le champ mot de passe doit contenir au minimum <strong>8 charactères.</strong>
            </mat-error>
            <mat-error
              *ngIf="updatePasswordForm.get('password')?.dirty && updatePasswordForm.get('password')?.hasError('regex')">
              Le champ mot de passe doit contenir au moins<strong> une majuscule, une minuscule et un chiffre.</strong>
            </mat-error>
          </mat-form-field>
        </td>
        <td class="td-form" style="height:110px; vertical-align: top ">
          <mat-form-field
            [class.mgb15]="updatePasswordForm.get('passwordConfirm')?.dirty && updatePasswordForm.get('passwordConfirm')?.invalid || updatePasswordForm.hasError('diff') "
            class="full-width">

            <input formControlName="passwordConfirm" matInput name="passwordConfirm"
                   placeholder="Confirmation mot de passe"
                   required type="password"/>


            <mat-error
              *ngIf="updatePasswordForm.get('passwordConfirm')?.dirty && updatePasswordForm.hasError('matchPasswords')">
              Le mot de passe <strong>est différent !</strong>
            </mat-error>

            <mat-error
              *ngIf="updatePasswordForm.get('passwordConfirm')?.dirty && updatePasswordForm.get('passwordConfirm')?.hasError('required')">
              Le champ confirmation de mot de passe est <strong>requis.</strong>
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
    </table>

  </form>
</mat-dialog-content>


<mat-dialog-actions align="end">
  <button (click)="redirectBack()" mat-button type="button">Annuler</button>
  <button (click)="changePass(updatePasswordForm.value)" [disabled]="updatePasswordForm.invalid" mat-button
          type="submit">Valider
  </button>
</mat-dialog-actions>
