<h2 mat-dialog-title>Attention, {{operation}} du compte !</h2>

<mat-dialog-content>
  <p *ngIf="error">Mot de passe invalide !</p>

  <h5>Pour la {{operation}} du compte, entrez votre mot de passe:</h5>
  <form #f="ngForm" novalidate>
    <p>
      <mat-form-field>
        <input #password=ngModel [type]="hide?'password':'text'" matInput name="password" ngModel placeholder="Mot de passe"
               required/>
        <button (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" mat-icon-button
                matSuffix>
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="password?.dirty && password?.hasError('required')">
          Le mot de passe est <strong>requis !</strong>
        </mat-error>
      </mat-form-field>
    </p>
  </form>
</mat-dialog-content>


<mat-dialog-actions align="end">
  <button (click)="redirectBack()" mat-button type="button">Annuler</button>
  <button (click)="auth(f.value)" [disabled]="f.invalid" mat-button type="submit">Valider</button>
</mat-dialog-actions>
