<h2 mat-dialog-title>Inscription</h2>

<mat-dialog-content>
  <p *ngIf="error">Pseudo ou mail déjà utilisé !</p>

  <form novalidate [formGroup]="registerForm">
    <table class="full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="full-width"
                          [class.mgb15]="registerForm.get('firstname')?.dirty && registerForm.get('firstname')?.invalid">
            <input matInput placeholder="Prénom" formControlName="firstname" minlength="2" required name="firstname"/>
            <mat-error
              *ngIf="registerForm.get('firstname')?.dirty && registerForm.get('firstname')?.hasError('required')">
              Le champ prénom est <strong>requis.</strong>
            </mat-error>
            <mat-error
              *ngIf="registerForm.get('firstname')?.dirty && registerForm.get('firstname')?.hasError('minlength')">
              Le champ prénom doit contenir au minimum <strong>2 charactères.</strong>
            </mat-error>
          </mat-form-field>
        </td>
        <td class="align-right">
          <mat-form-field class="full-width"
                          [class.mgb15]="registerForm.get('lastname')?.dirty && registerForm.get('lastname')?.invalid">
            <input matInput placeholder="Nom" formControlName="lastname" minlength="2" required name="lastname"/>
            <mat-error
              *ngIf="registerForm.get('lastname')?.dirty && registerForm.get('lastname')?.hasError('required')">
              Le champ nom est <strong>requis.</strong>
            </mat-error>
            <mat-error
              *ngIf="registerForm.get('lastname')?.dirty && registerForm.get('lastname')?.hasError('minlength')">
              Le champ nom doit contenir au minimum <strong>2 charactères.</strong>
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
    </table>
    <p>
      <mat-form-field class="full-width"
                      [class.mgb15]="registerForm.get('username')?.dirty && registerForm.get('username')?.invalid">
        <input matInput placeholder="Pseudo" formControlName="username" minlength="2" required name="username"/>
        <mat-error *ngIf="registerForm.get('username')?.dirty && registerForm.get('username')?.hasError('required')">
          Le champ pseudo est <strong>requis.</strong>
        </mat-error>
        <mat-error *ngIf="registerForm.get('username')?.dirty && registerForm.get('username')?.hasError('minlength')">
          Le champ pseudo doit contenir au minimum <strong>2 charactères.</strong>
        </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="full-width"
                      [class.mgb15]="registerForm.get('email')?.dirty && registerForm.get('email')?.invalid">
        <input type="email" matInput placeholder="Mail" formControlName="email" minlength="8" required name="email"/>
        <mat-error *ngIf="registerForm.get('email')?.dirty && registerForm.get('email')?.hasError('required')">
          Le champ mail est <strong>requis.</strong>
        </mat-error>
        <mat-error *ngIf="registerForm.get('email')?.dirty && registerForm.get('email')?.hasError('minlength')">
          Le champ mail doit contenir au minimum <strong>8 charactères.</strong>
        </mat-error>
        <mat-error *ngIf="registerForm.get('email')?.dirty && registerForm.get('email')?.hasError('regex')">
          Le champ mail doit respecter la syntaxe <strong> text@domaine.extension.</strong>
        </mat-error>
      </mat-form-field>
    </p>
    <table class="full-width" cellspacing="0" >
      <tr>
        <td>
          <mat-form-field class="full-width"
                          [class.mgb15]="registerForm.get('password')?.dirty && registerForm.get('password')?.invalid">
            <input  [type]="hide?'password':'text'" matInput placeholder="Mot de passe" formControlName="password" minlength="8" required
                   name="password"/>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>

            <mat-error
              *ngIf="registerForm.get('password')?.dirty && registerForm.get('password')?.hasError('required')">
              Le champ mot de passe est <strong>requis.</strong>
            </mat-error>
            <mat-error
              *ngIf="registerForm.get('password')?.dirty && registerForm.get('password')?.hasError('minlength')">
              Le champ mot de passe doit contenir au minimum <strong>8 charactères.</strong>
            </mat-error>
            <mat-error *ngIf="registerForm.get('password')?.dirty && registerForm.get('password')?.hasError('regex')">
              Le champ mot de passe doit contenir au moins<strong> une majuscule, une minuscule et un chiffre.</strong>
            </mat-error>
          </mat-form-field>

        </td>
        <td class="align-right">
          /// TODO FIX, NE FONCTIONNE QU'AVEC SPAN
          <mat-form-field class="full-width"
                          [class.mgb15]="registerForm.get('passwordConfirm')?.dirty && registerForm.get('passwordConfirm')?.invalid">

            <input type="password" matInput placeholder="Confirmation mot de passe" formControlName="passwordConfirm"
                   required name="passwordConfirm"/>



            <mat-error
              *ngIf="registerForm.hasError('diff')">
              Le mot de passe <strong>est différent !</strong>
            </mat-error>

            <mat-error
              *ngIf="registerForm.get('passwordConfirm')?.dirty && registerForm.get('passwordConfirm')?.hasError('required')">
              Le champ confirmation de mot de passe est <strong>requis.</strong>
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
    </table>
    <p>
      <mat-form-field class="full-width"
                      [class.mgb15]="registerForm.get('photo')?.dirty && registerForm.get('photo')?.invalid">
        <input matInput placeholder="Lien vers un avatar" formControlName="photo" name="photo"/>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="full-width"
                      [class.mgb15]="registerForm.get('birthDate')?.dirty && registerForm.get('birthDate')?.invalid">
        <input matInput type="date" placeholder="Date de naissance" formControlName="birthDate" name="birthDate" required/>
        <mat-error
          *ngIf="registerForm.get('birthDate')?.dirty && registerForm.get('birthDate')?.hasError('required')">
          Le champ date de naissance est <strong>requis.</strong>
        </mat-error>
      </mat-form-field>
    </p>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button type="button" (click)="redirectBack()">Annuler</button>
  <button mat-button type="submit" (click)="create(registerForm.value)" [disabled]="registerForm.invalid">Création du compte</button>
</mat-dialog-actions>
