/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: gray
}

section {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.center {
  margin: auto;
}

.width-min {
  width: min-content;
}

.img-fit {
  max-width: 100%;
  height: auto;
}

h1 {
  color: white;
}

.user-card {
  min-width: 200px;
  max-width: 300px;
  word-break: normal;
}

.break-words-pls {
  word-break: normal;

}
