/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
section {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
.center {
  margin: auto;
  width:10vh;
}
