<div class="full-width">
  <div class="center custom-card">
    <div>
      <mat-grid-list cols="2" rowHeight="5:1">
        <mat-grid-tile>Pseudo: </mat-grid-tile>
        <mat-grid-tile>{{user.username}}</mat-grid-tile>
        <mat-grid-tile>Nom: </mat-grid-tile>
        <mat-grid-tile>{{user.firstname}} {{user.lastname}}</mat-grid-tile>
        <mat-grid-tile>Email: </mat-grid-tile>
        <mat-grid-tile>{{user.email}}</mat-grid-tile>
        <mat-grid-tile>Date de naissance: </mat-grid-tile>
        <mat-grid-tile>{{user.birthDate | date:'dd/MM/yyyy' }}</mat-grid-tile>
      </mat-grid-list>
    </div>

    <br>
    <mat-divider></mat-divider>
    <section>
      <button mat-raised-button (click)="updateUser()" color="secondary">Modifier les informations du compte</button>
    </section>
    <mat-divider></mat-divider>
    <section>
      <button mat-raised-button (click)="changePassword()" color="secondary">Modifier le mot de passe du compte</button>
    </section>
    <mat-divider></mat-divider>
    <section>
      <button mat-raised-button [routerLink]="['/delete']" color="warn">Supprimer le compte</button>
    </section>
  </div>
</div>

